<section id="contacts">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                <div class="region region-contacts">
                    <h2 class="block-title">Свържете се с Нас</h2>
                    <p class="c-email"><b>E-MAIL</b><br><a href="mailto:orfea2012@abv.bg" target="_blank">orfea2012@abv.bg</a></p>
                    <p class="c-phone"><b>Обадете ни се</b><br><a href="tel:+359878126188">+ 359 878 12 61 88</a>0000</p>
                    <p class="c-work"><b>Фамилия - ММ - 2011 ООД</b><br>Пакетиране и търговия с варива и зърнени култури</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2964.1833387176453!2d23.08190945064222!3d42.01779919809829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aaf6008f7f0f63%3A0x417cdcb68440f58d!2sBlagoevgrad!5e0!3m2!1sen!2sbg!4v1515356373827" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>