@model BasicPagesDeleteServiceModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Are you sure you want to Delete Page: @Model.Title</h2>

<form asp-action="DeleteConfirmed" method="post">
    <input asp-for="Id" type="hidden" />
    <input class="btn btn-sm btn-primary" type="submit" value="delete page" />
</form>