@{
    ViewData["Title"] = "Home Page";
}

<section id="gradient" class="front"></section>
<section class="main-container" role="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center font-16">
                    <h2>Добре дошли в Орфеа</h2>
                    <p>През 2012 г. „Фамилия ММ 2011“ ЕООД със седалище в град Благоевград представя на българския пазар гама специално подбрани продукти под <strong>търговската марка „Orfea“</strong>.</p>
                    
                    <p class="lead"><b>Качеството е водещата идея и е в основата на успешното развитие на „Orfea“.</b></p>
                    
                    <p>С уважение към традициите и хранителните навици на българския потребител:</p>
                    <p>подбираме най-добрите варива и зърнени култури от производители, които ни се доверяват за дистрибуцията на своята продукция,<br/>
                        опаковаме ги спазвайки строги условия за качество и безопасност,<br />
                        разпространяваме ги чрез своите партньори в търговската мрежа, придружени от всички необходими сертификати,<br />
                        за да стигнат до трапезата на всеки дом, отговаряйки на изискванията на ценителите не само на класическата, но и на модерната кухня.<br />
                        Така сме сигурни, че всеки продукт, носещ марката „Orfea“, ще запази високото си качество от момента на събирането на реколтата до вашата трапеза.</p>
                </div>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("Product", 3)
@Html.Partial("_ContactUs")